{% extends 'base.html.twig' %}

{% block title %}About Heivice{% endblock %}

{% block body %}

<div class="masthead text-black mt-5 height">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mt-3"> 
                        <div>Heivice</div></br>
                    </h2>
                    <div>
                        <p>Is a multipurpose service, for all your needs! Right now there are available for <u>non registered users:</u> </p>
                        <ul>
                            <li><a href="{{ path('downloader') }}">YouTube Downloader</a></li>
                            <li><a href="{{ path('shortener') }}">Url Shortener</a></li>
                        </ul>
                        </p>And for <u>registered user</u>, there is a simple notepad service to write down all your valuable thoughts!</p>
                        <ul>
                            <li>Memos!</li>
                        </ul>
                        <p> So I recommend to register and use the expanded usability of Heivice! And soon enough, there will be added the most complexed thing on the website - <strong>Orbit Generator!</strong> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mt-5"> 
                        <div>About me</div></br>
                    </h2>  
                    <div>
                         My name is Krzysztof Heigel and this page is an exercise field for raising my php and backend skills in general. All the things I'll learn in the future, eventually will end up here to check if I understand all of nuances correctly. I hope you'll enjoy my website and try to find any bugs that will appear here ;)
                    </div></br>             
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
