{% extends 'base.html.twig' %}

{% block title %}Heivice YouTube Downloader{% endblock %}

{% block body %}

  <div class="masthead text-black text-center mt-5 height">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-5"> 
              {% include('url_shortener/form.html.twig') %}
            </h2>
              </div class="mb-5">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
