{% extends 'base.html.twig' %}

{% block title %}Url Shortener{% endblock %}

{% block body %}

  <div class="masthead text-black text-center mt-5 height">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-2"> 
              {% include('url_shortener/form.html.twig') %}
              {% if url_short != "" %}
                <div class="result-border mt-4">
                  <a href='https://heivice.herokuapp.com/short/{{ url_short }}' target="_blank" class="mt-4"><h4 class="mb-0"> https://heivice.herokuapp.com/short/{{ url_short }} </h4></a>                  
                </div>
              {% endif %}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
