{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    Video Downloader v 0.3
    {% include('index/form.html.twig') %}

    {% if videoId != "" %}
        <img src="https://img.youtube.com/vi/{{ videoId }}/mqdefault.jpg">
    
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Results
        </button>
        <div class="dropdown-menu">

        {% for link in links %}
            <a class="dropdown-item" target="_blank" href="{{ link.url }}">{{ link.format }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
