{% extends 'base.html.twig' %}

{% block title %}Heivice{% endblock %}

{% block body %}
<div class="masthead text-black text-center mt-5 height">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="text-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    <h2 class="mb-5 mt-3"> 
                        <div>Welcome to</div></br>
                            <div class="mt-2 mb-2 h1" >
                                <p><img rel="icon" type="image/x-icon" height="40" alt="Heivice icon" src="{{ asset('favicon/favicon.ico') }}" />eivice</p>
                            </div></br>
                        <div>a service for all your needs!</div>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-5"> 
                        <div>For support, please contact me via <a href="{{ path('contact') }}">contact form</a></div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
