{% extends 'base.html.twig' %}

{% block title %}Heivice{% endblock %}

{% block body %}
<header class="masthead text-black text-center mt-5">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-5"> 
                        <div class="mt-2 mb-2 h1" >Error</div></br>
                        <div>There has been an error, while sending an email!</div></br>
                        <div>Don't worry! Our development team (me!) is working on that!</div></br>
                        <div>Please be patient!</div>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
