@import "~bootstrap";

:root {
    --grey: grey;
    --white: azure;
  }

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 130px;
}

.footer { 
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    color: var(--white);
    overflow:hidden;
}
    
.link{
    color: var(--white);
}

.result-border{
    padding: 35px;
    border-radius: 100px 50px;
    box-shadow: 0 0 20px var(--grey);
}

.card {
    display:inline-block;
    border: 2px solid var(--grey);
    padding: 20px;
    border-radius: 50px 25px;
}

.cancelbtn, .deletebtn {
  width: 200px;
}

.modal-container {
  margin: 40px;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93,0.8);
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #363636;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}


.trash-delete:hover:hover, .pen-edit:hover:hover{
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.37); 

}