{% block footer %}
<footer class="footer pb-3 bg-dark">
    <div class="text-center pt-3">
        <span>Heivice v 0.6 </span></br>
        © 2020 Copyright:
        <a class='link' href="https://www.linkedin.com/in/kheigel/" target='_blank'> Krzysztof Heigel</a></br>
        <span> Check my: </span>
        <a class='link' href="https://github.com/klekseusz" target='_blank'> GitHub</a>
    </div>
</footer>
{% endblock %}