{% block footer %}
<footer class="footer pb-3 bg-dark">
    <div class="text-center pt-3">© 2020 Copyright:
        <a class='link' href="https://www.linkedin.com/in/kheigel/" target='_blank'> Krzysztof Heigel</a>
        <span> Check my: </span>
        <a class='link' href="https://github.com/klekseusz" target='_blank'> GitHub</a>
    </div>
</footer>
{% endblock %}