{% extends 'base.html.twig' %}

{% block title %}Memos{% endblock %}

{% block body %}

  <div class="masthead text-black text-center mt-5 height">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
              <div class="card-columns">
              {# {% set continue = false %}
              {% for link in history %}
                {% if link.videoId == videoId %}
                  {% set continue = true %}
                {% else %}
                  <div class="card w-100 mb-2">
                    <div class="card-body">
                      <h5 class="card-title">{{ link.videoTitle }}</h5>
                      <a href="https://www.youtube.com/watch?v={{ link.videoId }}" target="_blank"><img class="mt-3" height="100px" src="https://img.youtube.com/vi/{{ link.videoId }}/mqdefault.jpg"></a></br>                  
                    </div>
                  </div>
                  {% if continue %}
                    {% set continue = false %}
                  {% endif %}
                {% endif %}
              {% endfor %} #}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
